{% if content contains 'mermaid' %}
<script src="https://roobert.github.io/mermaid.min.js"></script>
<script>
  const config = {
    startOnLoad: true,
    theme: 'neutral',
    flowchart: {
      useMaxWidth: true,
      htmlLabels: true
    }
  };
  mermaid.initialize(config);
  window.mermaid.init(undefined, document.querySelectorAll('.language-mermaid'));
</script>
{% endif %}

<footer class="footer">
  <div class="p2 wrap">
    <div class="measure mt1 center">
      {% include disqus.html %}
    </div>
  </div>
</footer>
